<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create new page</title>
  <script src="t.js"></script>
</head>
<body>
  <div>
    <p>Create a new project</p>
    <input id="input" type="text" placeholder="233">
    <p id="status"></p>
  </div>
  <script>
    const inputDom = document.getElementById('input')
    inputDom.oninput = ()=>{
      get(`./api/project/checkName/${inputDom.value}`, (result)=>{
        if(result==='true') {
          document.getElementById('status').textContent = 'ok'
        }else {
          document.getElementById('status').textContent = 'already titled'
        }
      })
    }
  </script>
  <style>
    div{
      display: block;
      text-align: center;
    }
  </style>
</body>
</html>
